<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>ValidateLogin</filter-name>
        <filter-class>filters.ValidateLogin</filter-class>
    </filter>
    <filter>
        <filter-name>ValidateRegister</filter-name>
        <filter-class>filters.ValidateRegister</filter-class>
    </filter>-->
    <filter>
        <filter-name>MainController</filter-name>
        <filter-class>filters.MainController</filter-class>
    </filter>
    <!--    <filter-mapping>
        <filter-name>ValidateRegister</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateLogin</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>MainController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.client.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.client.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMealsServlet</servlet-name>
        <servlet-class>controller.client.GetAllMealsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.client.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.client.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>controller.admin.GetUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>controller.admin.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIngredientServlet</servlet-name>
        <servlet-class>controller.admin.GetIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMealServlet</servlet-name>
        <servlet-class>controller.admin.GetMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.client.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.client.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.client.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.client.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.client.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.client.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.client.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMeal</servlet-name>
        <servlet-class>controller.admin.UpdateMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIngre</servlet-name>
        <servlet-class>controller.admin.UpdateIngre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMealsServlet</servlet-name>
        <url-pattern>/GetAllMealsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/GetUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIngredientServlet</servlet-name>
        <url-pattern>/GetIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMealServlet</servlet-name>
        <url-pattern>/GetMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/UserDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMeal</servlet-name>
        <url-pattern>/UpdateMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIngre</servlet-name>
        <url-pattern>/UpdateIngre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
